@page "/SimpleCMS"
@using Microsoft.Extensions.Localization
@using global::DecisionTree.Plugins.SimpleCMS.Localization
@inject IStringLocalizer<SimpleCMSResource> L
@{
}
<h1>SimpleCMS</h1>
<p>@L["SamplePageMessage"]</p>